In [1]:
import streamlit as st
import pandas as pd
import numpy as np
import plotly.express as px
import os
import geopandas as gpd
from netCDF4 import Dataset
import pathlib

In [3]:
insitu_dir = 'qa/'

In [9]:
def load_pillow_nc(insitu_dir):
    obs_data = []
    for file in sorted(os.listdir(insitu_dir)):
        if file.endswith('.nc'):
            # Open the NetCDF file
            file_path = os.path.join(insitu_dir, file)
            dataset = Dataset(file_path, mode='r')
            
            # Extract data from the NetCDF file
            # Assuming you want to extract a specific variable, replace 'your_variable_name' with the actual variable name
            variable_name = 'your_variable_name'  # Replace with the actual variable name
            if variable_name in dataset.variables:
                data = dataset.variables[variable_name][:]
                obs_data.append(data)
            
            # Close the dataset
            dataset.close()
    insitu_locations = None
    for file in sorted(os.listdir(insitu_dir)):
        if 'obs_summary.shp' in file:
            insitu_locations = gpd.read_file(os.path.join(insitu_dir, file))
            insitu_locations = insitu_locations.set_crs('EPSG:4326')
            insitu_locations.rename(columns={'elevation_': 'elevation_m'}, inplace=True)
    return obs_data, insitu_locations
# Load data
obs_data, insitu_locations = load_pillow_nc(insitu_dir)

In [10]:
insitu_locations

,name,id,network,elevation_m,latitude,longitude,matching_f,median_ele,median_cou,missing_fl,corr_elev_,pil_elev_f,corr_ele_1,geometry
0,AGNEW PASS,AGP,cdec,2880.360000,37.726631,-119.141731,47,9107.738281,1676,26,9718.852539,9450.000302,8614.581055,POINT (-119.14173 37.72663)
1,DANA MEADOWS,DAN,cdec,2987.040000,37.896162,-119.257260,72,9070.583984,66362,1,9648.130859,9800.000314,8419.398438,POINT (-119.25726 37.89616)
2,DEADMAN CREEK,DDM,cdec,2819.400000,38.331596,-119.654114,71,9590.981445,14464,2,10183.792969,9250.000296,8981.185547,POINT (-119.65411 38.3316)
3,DEVILS POSTPILE,DPO,cdec,2307.031200,37.629410,-119.084671,42,8925.460938,12876,31,9504.759766,7569.000242,8324.117188,POINT (-119.08467 37.62941)
4,VOGELSANG,FLV,cdec,3076.956000,37.794571,-119.347404,15,9347.349609,184058,58,9986.211914,10095.000323,8637.858398,POINT (-119.3474 37.79457)
5,GEM PASS,GEM,cdec,3276.600000,37.780000,-119.170000,60,9919.656250,26,13,11466.859375,10750.000344,8985.027344,POINT (-119.17 37.78)
6,GIN FLAT,GIN,cdec,2148.840000,37.766887,-119.774907,62,8582.592773,62091,11,9242.079102,7050.000226,7926.728027,POINT (-119.77491 37.76689)
7,GIANELLI MEADOW,GNL,cdec,2560.320000,38.204308,-119.893188,71,9255.415039,19338,2,9722.659180,8400.000269,8768.225586,POINT (-119.89319 38.20431)
8,GREEN MOUNTAIN,GRM,cdec,2407.920000,37.549599,-119.232559,66,8333.356445,70845,7,9025.874023,7900.000253,7478.253418,POINT (-119.23256 37.5496)
9,HORSE MEADOW,HRS,cdec,2560.320000,38.158000,-119.662000,66,9460.968750,126408,7,10033.056641,8400.000269,8834.308594,POINT (-119.662 38.158)
10,LOWER KIBBIE RIDGE,KIB,cdec,2042.160000,38.033024,-119.879245,70,7590.716797,13480,3,8559.926758,6700.000214,6785.984375,POINT (-119.87924 38.03302)
11,MAMMOTH PASS (USBR),MHP,cdec,2834.640000,37.612400,-119.031746,70,9650.154297,8486,3,10143.849609,9300.000298,9176.154297,POINT (-119.03175 37.6124)
12,PARADISE MEADOW,PDS,cdec,2331.720000,38.046117,-119.671748,67,9045.033203,149711,6,9713.291992,7650.000245,8324.403320,POINT (-119.67175 38.04612)
13,LOWER RELIEF VALLEY,REL,cdec,2468.880000,38.242917,-119.762917,62,9422.841797,823,11,9797.927734,8100.000259,8980.021484,POINT (-119.76292 38.24292)
14,SLIDE CANYON,SLI,cdec,2804.160000,38.091234,-119.431881,40,9482.144531,87926,33,10046.054688,9200.000294,8872.404297,POINT (-119.43188 38.09123)
15,TENAYA LAKE,TNY,cdec,2484.120000,37.837581,-119.449875,41,8967.086914,162795,32,9655.679688,8150.000261,8291.458984,POINT (-119.44988 37.83758)
16,TUOLUMNE MEADOWS,TUM,cdec,2621.280000,37.876406,-119.348096,51,8414.449219,89561,22,9118.662109,8600.000275,7515.832520,POINT (-119.3481 37.87641)
17,WHITE WOLF,WHW,cdec,2407.920000,37.859445,-119.651607,49,8808.093750,156419,24,9524.585938,7900.000253,8097.302734,POINT (-119.65161 37.85944)
18,Leavitt Lake,LLE,snotel,2927.299316,38.275940,-119.612808,73,9848.877930,25601,0,10329.031250,9604.000689,9382.443359,POINT (-119.61281 38.27594)
19,Leavitt Meadows,LMS,snotel,2193.950439,38.303669,-119.551109,73,7030.875977,21756,0,7783.312988,7198.000360,6470.260254,POINT (-119.55111 38.30367)
20,Sonora Pass,SPA,snotel,2673.095947,38.310211,-119.600304,73,8957.696289,104455,0,9581.036133,8770.000108,8338.319336,POINT (-119.6003 38.31021)
21,Summit Meadow,SMW,snotel,2838.602295,38.397469,-119.535217,73,9102.415039,135247,0,9702.993164,9312.999953,8463.362305,POINT (-119.53522 38.39747)
22,Virginia Lakes Ridge,VLR,snotel,2878.835938,38.072979,-119.234329,73,9238.887695,102135,0,9785.379883,9445.000097,8588.610352,POINT (-119.23433 38.07298)

In [8]:
insitu_dir = 'USCATM/qa/'

In [11]:
insitu_locations.to_csv('tm_pillow_locations.csv', index=False)

In [3]:
# Specify the path to your CSV file
csv_file_path = 'USCASJ/total.csv'
# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file_path)
# Print the first few rows of the DataFrame
print(df.head())

         time  aso_mean_bins_mm       AGP       BCB       BGP      BSH  \
0  2017-01-29        544.581278  1054.862  1688.084   570.992  623.316
1  2017-03-09        844.992791  1382.522  2393.950  1071.372  887.730
2  2017-04-02        770.517893  1421.892  2409.444  1116.584  901.192
3  2017-04-30        826.494185       NaN       NaN  1060.958  825.500
4  2017-06-06        416.856399       NaN       NaN    34.798    0.000

        CHM       DAN      DPO  FLV  ...      SLK       STL  STR      SWM  \
0   819.912   867.664  945.388  NaN  ...  585.216   970.280  NaN  584.962
1  1261.872  1248.664  964.946  NaN  ...  883.920  1533.398  NaN  848.868
2  1197.864  1200.404  737.362  NaN  ...  859.536  1639.062  NaN  824.992
3  1036.320  1244.600  515.112  NaN  ...  798.576  1772.666  NaN  881.634
4     6.096   705.104    0.000  NaN  ...   15.240   381.254  0.0   23.876

        TMR       TNY       TUM       UBC       VLC       WWC
0   710.184  1051.306   736.092  1122.934   992.378  1112.520
1  1255.776  1667.510  1143.000  1411.986  1414.018  1631.188
2  1115.568  1659.382  1094.232  1407.160  1413.510  1613.154
3   765.048  1471.930  1024.128  1625.600  1447.292  1526.794
4     0.000   367.284     0.000   629.666   876.300   451.104

[5 rows x 31 columns]

In [6]:
def get_all_and_baseline_pils(summary_table_fpath):
    # Load summary table
    df_summary_table = pd.read_csv(summary_table_fpath)
    
    # Convert time to datetime object
    df_summary_table['time'] = pd.to_datetime(df_summary_table['time'])
    
    # Create list of all pillows
    all_pils = df_summary_table.columns.to_list()
    all_pils.remove('time')
    all_pils.remove('aso_mean_bins_mm')
    
    # Identify baseline pillows
    df_year = df_summary_table.groupby(df_summary_table.time.dt.year)[all_pils].sum()
    pillow_w_flight_per_year = df_year.replace(0, pd.NA).dropna(axis=1,how='any').columns.to_list()
    pillows_cols = pillow_w_flight_per_year.copy()
    pillows_cols.append('time')
    slice_df = df_summary_table[pillows_cols]
    valid_time = slice_df.dropna(axis=0, how='any').time.values
    slice_df = df_summary_table[df_summary_table['time'].isin(valid_time)].dropna(axis=1, how='any')
    baseline_pils = slice_df.columns.to_list()
    baseline_pils.remove('time')
    baseline_pils.remove('aso_mean_bins_mm')
    
    return all_pils, baseline_pils

In [19]:
summary_table_fpath = 'USCASJ/total.csv'
df = get_all_and_baseline_pils(summary_table_fpath)
all_pils = pd.DataFrame(df[0], columns=['id'])
baseline_pils = pd.DataFrame(df[1], columns=['id'])

In [20]:
all_pils

     id
0   AGP
1   BCB
2   BGP
3   BSH
4   CHM
5   DAN
6   DPO
7   FLV
8   GEM
9   GRM
10  GRV
11  HNT
12  KSP
13  KUB
14  KUP
15  LLE
16  MHP
17  PSR
18  RCK
19  SLK
20  STL
21  STR
22  SWM
23  TMR
24  TNY
25  TUM
26  UBC
27  VLC
28  WWC

In [27]:
insitu_dir = 'qa/'

# Function to load snow pillow data and locations
def load_pillow_nc(insitu_dir):
    obs_data = []
    for file in sorted(os.listdir(insitu_dir)):
        if file.endswith('.nc'):
            # Open the NetCDF file
            file_path = os.path.join(insitu_dir, file)
            dataset = Dataset(file_path, mode='r')
            
            # Extract data from the NetCDF file
            # Assuming you want to extract a specific variable, replace 'your_variable_name' with the actual variable name
            variable_name = 'your_variable_name'  # Replace with the actual variable name
            if variable_name in dataset.variables:
                data = dataset.variables[variable_name][:]
                obs_data.append(data)
            
            # Close the dataset
            dataset.close()
    insitu_locations = None
    for file in sorted(os.listdir(insitu_dir)):
        if 'obs_summary.shp' in file:
            insitu_locations = gpd.read_file(os.path.join(insitu_dir, file))
            insitu_locations = insitu_locations.set_crs('EPSG:4326')
            insitu_locations.rename(columns={'elevation_': 'elevation_m'}, inplace=True)
    return obs_data, insitu_locations
# Load data
obs_data, insitu_locations = load_pillow_nc(insitu_dir)
# Extract longitude and latitude
if insitu_locations is not None:
    insitu_locations['longitude'] = insitu_locations.geometry.x
    insitu_locations['latitude'] = insitu_locations.geometry.y
# Display the DataFrame with longitude and latitude
insitu_locations_df = insitu_locations[['id', 'longitude', 'latitude', 'elevation_m']]

In [28]:
insitu_locations_df

     id   longitude   latitude  elevation_m
0   AGP -119.141731  37.726631  2880.360000
1   BCB -118.773010  37.066685  3139.440000
2   BGP -118.476967  37.127815  2987.040000
3   BSH -118.557000  37.100000  3413.760000
4   CHM -119.492188  37.408390  2179.320000
5   DAN -119.257260  37.896162  2987.040000
6   DPO -119.084671  37.629410  2307.031200
7   FLV -119.347404  37.794571  3076.956000
8   GEM -119.170000  37.780000  3276.600000
9   GRM -119.232559  37.549599  2407.920000
10  GRV -119.292892  37.463440  2103.120000
11  HNT -119.220482  37.227570  2133.600000
12  KSP -119.103371  37.298180  2804.160000
13  KUB -119.056600  36.966900  2460.650400
14  KUP -119.183000  37.061000  1710.232800
15  MHP -119.031746  37.612400  2834.640000
16  PSR -119.520813  37.402821  2103.120000
17  RCK -118.735023  37.457275  2956.560000
18  SLK -118.562660  37.175903  2926.080000
19  STL -118.573250  36.926483  3169.920000
20  STR -119.553330  37.636610  2499.360000
21  SWM -118.562592  37.161964  3108.960000
22  TMR -119.200531  37.163750  2301.240000
23  TNY -119.449875  37.837581  2484.120000
24  TUM -119.348096  37.876406  2621.280000
25  UBC -118.938293  37.183296  2956.560000
26  VLC -118.905037  37.387859  3063.240000
27  WWC -118.914783  37.031033  2773.680000
28  LLE -119.612808  38.275940  2927.299316

In [29]:
all_pils_check = pd.merge(insitu_locations_df, all_pils, on='id')
all_pils_check

     id   longitude   latitude  elevation_m
0   AGP -119.141731  37.726631  2880.360000
1   BCB -118.773010  37.066685  3139.440000
2   BGP -118.476967  37.127815  2987.040000
3   BSH -118.557000  37.100000  3413.760000
4   CHM -119.492188  37.408390  2179.320000
5   DAN -119.257260  37.896162  2987.040000
6   DPO -119.084671  37.629410  2307.031200
7   FLV -119.347404  37.794571  3076.956000
8   GEM -119.170000  37.780000  3276.600000
9   GRM -119.232559  37.549599  2407.920000
10  GRV -119.292892  37.463440  2103.120000
11  HNT -119.220482  37.227570  2133.600000
12  KSP -119.103371  37.298180  2804.160000
13  KUB -119.056600  36.966900  2460.650400
14  KUP -119.183000  37.061000  1710.232800
15  MHP -119.031746  37.612400  2834.640000
16  PSR -119.520813  37.402821  2103.120000
17  RCK -118.735023  37.457275  2956.560000
18  SLK -118.562660  37.175903  2926.080000
19  STL -118.573250  36.926483  3169.920000
20  STR -119.553330  37.636610  2499.360000
21  SWM -118.562592  37.161964  3108.960000
22  TMR -119.200531  37.163750  2301.240000
23  TNY -119.449875  37.837581  2484.120000
24  TUM -119.348096  37.876406  2621.280000
25  UBC -118.938293  37.183296  2956.560000
26  VLC -118.905037  37.387859  3063.240000
27  WWC -118.914783  37.031033  2773.680000
28  LLE -119.612808  38.275940  2927.299316

In [31]:
base_pils_check = pd.merge(insitu_locations_df, baseline_pils, on='id')
base_pils_check

     id   longitude   latitude  elevation_m
0   CHM -119.492188  37.408390  2179.320000
1   DAN -119.257260  37.896162  2987.040000
2   KSP -119.103371  37.298180  2804.160000
3   PSR -119.520813  37.402821  2103.120000
4   RCK -118.735023  37.457275  2956.560000
5   SLK -118.562660  37.175903  2926.080000
6   STL -118.573250  36.926483  3169.920000
7   SWM -118.562592  37.161964  3108.960000
8   TMR -119.200531  37.163750  2301.240000
9   TNY -119.449875  37.837581  2484.120000
10  TUM -119.348096  37.876406  2621.280000
11  LLE -119.612808  38.275940  2927.299316

In [32]:
source='https://raw.githubusercontent.com/python-visualization/folium/master/examples/data/us-states.json'

In [33]:
source

'https://raw.githubusercontent.com/python-visualization/folium/master/examples/data/us-states.json'

In [12]:
from bokeh.plotting import figure, show
from bokeh.tile_providers import get_provider, Vendors

# Use a pre-configured tile provider
tile_provider = get_provider(Vendors.CARTODBPOSITRON)

# Create the plot
p = figure(x_range=(-2000000, 6000000), y_range=(-1000000, 7000000),
           x_axis_type="mercator", y_axis_type="mercator")
p.add_tile(tile_provider)

show(p)

In [13]:
# Load the data from the CSV file
df = pd.read_csv('sj_pillow_locations.csv')

In [14]:
df

,name,id,network,elevation_m,latitude,longitude,geometry
0,AGNEW PASS,AGP,cdec,2880.360000,37.726631,-119.141731,POINT (-119.141731 37.726631)
1,BLACKCAP BASIN,BCB,cdec,3139.440000,37.066685,-118.773010,POINT (-118.77301 37.066685)
2,BIG PINE CREEK,BGP,cdec,2987.040000,37.127815,-118.476967,POINT (-118.476967 37.127815)
3,BISHOP PASS,BSH,cdec,3413.760000,37.100000,-118.557000,POINT (-118.557 37.1)
4,CHILKOOT MEADOW,CHM,cdec,2179.320000,37.408390,-119.492188,POINT (-119.492188 37.40839)
5,DANA MEADOWS,DAN,cdec,2987.040000,37.896162,-119.257260,POINT (-119.25726 37.896162)
6,DEVILS POSTPILE,DPO,cdec,2307.031200,37.629410,-119.084671,POINT (-119.084671 37.62941)
7,VOGELSANG,FLV,cdec,3076.956000,37.794571,-119.347404,POINT (-119.347404 37.794571)
8,GEM PASS,GEM,cdec,3276.600000,37.780000,-119.170000,POINT (-119.17 37.78)
9,GREEN MOUNTAIN,GRM,cdec,2407.920000,37.549599,-119.232559,POINT (-119.232559 37.549599)
10,GRAVEYARD MEADOW,GRV,cdec,2103.120000,37.463440,-119.292892,POINT (-119.292892 37.46344)
11,HUNTINGTON LAKE (USBR),HNT,cdec,2133.600000,37.227570,-119.220482,POINT (-119.220482 37.22757)
12,KAISER POINT,KSP,cdec,2804.160000,37.298180,-119.103371,POINT (-119.103371 37.29818)
13,UPPER BULL,KUB,cdec,2460.650400,36.966900,-119.056600,POINT (-119.0566 36.9669)
14,UPPER PROVIDENCE,KUP,cdec,1710.232800,37.061000,-119.183000,POINT (-119.183 37.061)
15,MAMMOTH PASS (USBR),MHP,cdec,2834.640000,37.612400,-119.031746,POINT (-119.031746 37.6124)
16,POISON RIDGE,PSR,cdec,2103.120000,37.402821,-119.520813,POINT (-119.520813 37.402821)
17,ROCK CREEK LAKES,RCK,cdec,2956.560000,37.457275,-118.735023,POINT (-118.735023 37.457275)
18,SOUTH LAKE,SLK,cdec,2926.080000,37.175903,-118.562660,POINT (-118.56266 37.175903)
19,STATE LAKES,STL,cdec,3169.920000,36.926483,-118.573250,POINT (-118.57325 36.926483)
20,OSTRANDER LAKE,STR,cdec,2499.360000,37.636610,-119.553330,POINT (-119.55333 37.63661)
21,SAWMILL,SWM,cdec,3108.960000,37.161964,-118.562592,POINT (-118.562592 37.161964)
22,TAMARACK SUMMIT,TMR,cdec,2301.240000,37.163750,-119.200531,POINT (-119.200531 37.16375)
23,TENAYA LAKE,TNY,cdec,2484.120000,37.837581,-119.449875,POINT (-119.449875 37.837581)
24,TUOLUMNE MEADOWS,TUM,cdec,2621.280000,37.876406,-119.348096,POINT (-119.348096 37.876406)
25,UPPER BURNT CORRAL,UBC,cdec,2956.560000,37.183296,-118.938293,POINT (-118.938293 37.183296)
26,VOLCANIC KNOB,VLC,cdec,3063.240000,37.387859,-118.905037,POINT (-118.905037 37.387859)
27,WEST WOODCHUCK MEADOW,WWC,cdec,2773.680000,37.031033,-118.914783,POINT (-118.914783 37.031033)
28,Leavitt Lake,LLE,snotel,2927.299316,38.275940,-119.612808,POINT (-119.61280822753906 38.27593994140625)

In [46]:
import numpy as np
from bokeh.plotting import figure, show
from bokeh.models import ColumnDataSource
from bokeh.tile_providers import get_provider, Vendors
from bokeh.models import WMTSTileSource
# Define the coordinates for some cities in California

def web_mercartor(df, lon="lon", lat="lat"):
    k = 6378137
    df["x"] = df[lon] * (k * np.pi/180.0)
    df["y"] = np.log(np.tan((90 + df[lat]) * np.pi /360)) * k
    return df

california_cities = {
    'City': ['San Francisco', 'Los Angeles', 'San Diego', 'Sacramento'],
    'lat': [37.7749, 34.0522, 32.7157, 38.5816],
    'lon': [-122.4194, -118.2437, -117.1611, -121.4944]
}

df = pd.DataFrame(california_cities)
map_df = web_mercartor(df)
print(map_df.head())

p = figure(title="California Cities", tools="pan,wheel_zoom,reset", 
           x_axis_type="mercator", y_axis_type="mercator",
           width=500, height=500)
# Create a ColumnDataSource
# source = ColumnDataSource(data=california_cities)
# Get the tile provider
tile_provider = get_provider(Vendors.CARTODBPOSITRON)
url = "http://a.basemaps.cartocdn.com/rastertiles/voyager/{Z}/{X}/{Y}.png"

# Add the tile provider
p.add_tile(WMTSTileSource(url=url))
#p.add_tile(tile_provider)
# Plot the cities
p.circle(x=df["x"], y=df["y"], size=10)
# Show the plot
show(p)

            City      lat       lon             x             y
0  San Francisco  37.7749 -122.4194 -1.362767e+07  4.547675e+06
1    Los Angeles  34.0522 -118.2437 -1.316283e+07  4.035813e+06
2      San Diego  32.7157 -117.1611 -1.304231e+07  3.857628e+06
3     Sacramento  38.5816 -121.4944 -1.352469e+07  4.661915e+06

In [19]:
california_cities['Latitude']

[37.7749, 34.0522, 32.7157, 38.5816]

In [20]:
california_cities['Longitude']

[-122.4194, -118.2437, -117.1611, -121.4944]

In [34]:
sample_1 = 37.7749

numpy_radian = np.radians(sample_1)
formula_2 = sample_1 * (6378137 * np.pi/180.0)
formula_3 = np.log(np.tan((90 + sample_1) * np.pi / 360)) * 6378137

In [35]:
print(numpy_radian, formula_2, formula_3)

0.659296379611606 4205082.632766831 4547675.354340559

In [39]:
df["lat"]

0    37.7749
1    34.0522
2    32.7157
3    38.5816
Name: lat, dtype: float64

In [43]:
df

            City      lat       lon             x             y
0  San Francisco  37.7749 -122.4194 -1.362767e+07  4.547675e+06
1    Los Angeles  34.0522 -118.2437 -1.316283e+07  4.035813e+06
2      San Diego  32.7157 -117.1611 -1.304231e+07  3.857628e+06
3     Sacramento  38.5816 -121.4944 -1.352469e+07  4.661915e+06

In [52]:
sj_pillow_df = pd.read_csv('sj_pillow_locations.csv')

# Covert coordinates to Mercarto Projection
def coor_conv(df, lon="longitude", lat="latitude"):
    k = 6378137
    df["x"] = df[lon] * (k * np.pi/180.0)
    df["y"] = np.log(np.tan((90 + df[lat]) * np.pi /360)) * k
    return

# Covert
coor_conv(sj_pillow_df)

In [53]:
sj_pillow_df

,name,id,network,elevation_m,latitude,longitude,geometry,x,y
0,AGNEW PASS,AGP,cdec,2880.360000,37.726631,-119.141731,POINT (-119.141731 37.726631),-1.326280e+07,4.540880e+06
1,BLACKCAP BASIN,BCB,cdec,3139.440000,37.066685,-118.773010,POINT (-118.77301 37.066685),-1.322175e+07,4.448406e+06
2,BIG PINE CREEK,BGP,cdec,2987.040000,37.127815,-118.476967,POINT (-118.476967 37.127815),-1.318880e+07,4.456938e+06
3,BISHOP PASS,BSH,cdec,3413.760000,37.100000,-118.557000,POINT (-118.557 37.1),-1.319770e+07,4.453055e+06
4,CHILKOOT MEADOW,CHM,cdec,2179.320000,37.408390,-119.492188,POINT (-119.492188 37.40839),-1.330181e+07,4.496185e+06
5,DANA MEADOWS,DAN,cdec,2987.040000,37.896162,-119.257260,POINT (-119.25726 37.896162),-1.327566e+07,4.564767e+06
6,DEVILS POSTPILE,DPO,cdec,2307.031200,37.629410,-119.084671,POINT (-119.084671 37.62941),-1.325644e+07,4.527205e+06
7,VOGELSANG,FLV,cdec,3076.956000,37.794571,-119.347404,POINT (-119.347404 37.794571),-1.328569e+07,4.550446e+06
8,GEM PASS,GEM,cdec,3276.600000,37.780000,-119.170000,POINT (-119.17 37.78),-1.326594e+07,4.548394e+06
9,GREEN MOUNTAIN,GRM,cdec,2407.920000,37.549599,-119.232559,POINT (-119.232559 37.549599),-1.327291e+07,4.515993e+06
10,GRAVEYARD MEADOW,GRV,cdec,2103.120000,37.463440,-119.292892,POINT (-119.292892 37.46344),-1.327962e+07,4.503903e+06
11,HUNTINGTON LAKE (USBR),HNT,cdec,2133.600000,37.227570,-119.220482,POINT (-119.220482 37.22757),-1.327156e+07,4.470875e+06
12,KAISER POINT,KSP,cdec,2804.160000,37.298180,-119.103371,POINT (-119.103371 37.29818),-1.325853e+07,4.480751e+06
13,UPPER BULL,KUB,cdec,2460.650400,36.966900,-119.056600,POINT (-119.0566 36.9669),-1.325332e+07,4.434494e+06
14,UPPER PROVIDENCE,KUP,cdec,1710.232800,37.061000,-119.183000,POINT (-119.183 37.061),-1.326739e+07,4.447613e+06
15,MAMMOTH PASS (USBR),MHP,cdec,2834.640000,37.612400,-119.031746,POINT (-119.031746 37.6124),-1.325055e+07,4.524815e+06
16,POISON RIDGE,PSR,cdec,2103.120000,37.402821,-119.520813,POINT (-119.520813 37.402821),-1.330500e+07,4.495405e+06
17,ROCK CREEK LAKES,RCK,cdec,2956.560000,37.457275,-118.735023,POINT (-118.735023 37.457275),-1.321752e+07,4.503038e+06
18,SOUTH LAKE,SLK,cdec,2926.080000,37.175903,-118.562660,POINT (-118.56266 37.175903),-1.319833e+07,4.463654e+06
19,STATE LAKES,STL,cdec,3169.920000,36.926483,-118.573250,POINT (-118.57325 36.926483),-1.319951e+07,4.428864e+06
20,OSTRANDER LAKE,STR,cdec,2499.360000,37.636610,-119.553330,POINT (-119.55333 37.63661),-1.330862e+07,4.528217e+06
21,SAWMILL,SWM,cdec,3108.960000,37.161964,-118.562592,POINT (-118.562592 37.161964),-1.319833e+07,4.461707e+06
22,TAMARACK SUMMIT,TMR,cdec,2301.240000,37.163750,-119.200531,POINT (-119.200531 37.16375),-1.326934e+07,4.461956e+06
23,TENAYA LAKE,TNY,cdec,2484.120000,37.837581,-119.449875,POINT (-119.449875 37.837581),-1.329710e+07,4.556507e+06
24,TUOLUMNE MEADOWS,TUM,cdec,2621.280000,37.876406,-119.348096,POINT (-119.348096 37.876406),-1.328577e+07,4.561981e+06
25,UPPER BURNT CORRAL,UBC,cdec,2956.560000,37.183296,-118.938293,POINT (-118.938293 37.183296),-1.324015e+07,4.464687e+06
26,VOLCANIC KNOB,VLC,cdec,3063.240000,37.387859,-118.905037,POINT (-118.905037 37.387859),-1.323645e+07,4.493308e+06
27,WEST WOODCHUCK MEADOW,WWC,cdec,2773.680000,37.031033,-118.914783,POINT (-118.914783 37.031033),-1.323753e+07,4.443433e+06
28,Leavitt Lake,LLE,snotel,2927.299316,38.275940,-119.612808,POINT (-119.61280822753906 38.27593994140625),-1.331524e+07,4.618481e+06

In [55]:
smaller_df = pd.read_csv('sj_pillow_qa_table.csv')

In [56]:
smaller_df.head()

,time,AGP,BCB,BGP,BSH,CHM,DAN,DPO,FLV,GEM,...,SNF,STL,STR,SWM,TMR,TNY,TUM,UBC,VLC,WWC
0,2012-10-01,NaN,97.790,0.0,0.0,0.0,0.0,0.0,NaN,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2012-10-02,NaN,97.536,0.0,0.0,0.0,0.0,0.0,NaN,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2012-10-03,2.032,97.028,0.0,0.0,0.0,0.0,0.0,NaN,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2012-10-04,0.000,96.520,0.0,0.0,0.0,0.0,0.0,NaN,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2012-10-05,0.000,97.790,0.0,0.0,0.0,0.0,0.0,NaN,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0